---
title: "Our top 6 tips for making the most of AWS re:Invent"
author: William Chia
author_gitlab: williamchia
author_twitter: thewilliamchia
categories: insights
image_title: "/images/events/IMG_4756.jpeg"
description: "Here are our top tips, tricks, and not-to-be missed for AWS 2018."
tags: events
twitter_text: ".@gitlab's top 6 tips for #AWSreInvent"
---

This year's [AWS re:Invent](/events/aws-reinvent/), Nov. 26-30, looks to be an amazing show. [GitLab works great together with AWS](/solutions/aws/) and as an [AWS partner](/partners/#strategic-partners) we're excited to be a part of the show. To help you prepare, the team has put together some top tips for getting the most out of re:Invent, along with a list of all the places you can find GitLab on site.

## Top 6 tips for AWS

### 1. Strategize

Know what is a must-do/-see for you and plan accordingly, including all talks and networking events. The week has so much going on and you, unfortunately, cannot do it all, so prioritize what is most important to you, and what you will get the most value out of.

### 2. Manage your time

All transportation takes longer than you think it will or should during your time in Las Vegas. The conference footprint is huge. Give yourself a buffer to get to talks and plan on arriving early if you want to attend some of the more popular talks.

### 3. Set goals

It is easy to get sidetracked, so having a set list of things you want to accomplish or a reminder of why you have chosen to invest your resources and time to be there can be key. When you are are starting to wear down on the morning of day three and need to remind yourself why you came, a list of goals can help you get out of bed 😃

<%= partial "includes/blog/content-newsletter-cta", locals: { variant: "a" } %>

### 4. Take care of yourself

This is a simple tip that can make all the difference during networking and negotiations. It is a long week and to make the most of it you do need to practice some self-care. Hydrate regularly, eat meals at regular hours, and stick to your exercise routine. Bring your most comfortable shoes instead of your best looking ones. You will thank yourself when you are walking the strip for the 30th time. Actually, bring two pairs of comfortable shoes. Having the option to switch it up if one pair is rubbing you the wrong way can turn a frustrating experience into a non-issue.

### 5. Pack your go-bag the night before

Bring a full stock of business cards and external power banks. The days are long and networking strong. Make sure to charge all your devices overnight and don't forget anything you may need for a full day away from your hotel.

### 6. Be open to learning and new experiences

This takes us back to the underlying question of why we gather at conferences such as re:Invent. Simply put, to learn from thought leaders and our peers. You are there to connect, share best practices, and expand your point of view. Hopefully, you'll leave with some new approaches, more solutions, and more questions to explore when you get home. Plan on taking notes of your interactions and the connections you make. At GitLab, we create issues for all actionable takeaways from the event. This is a great way for us to make sure the info doesn't get lost and gets disseminated to the rest of the team.

## Come join GitLab at AWS 2018

GitLab will be on site in Las Vegas with pleny of demos and tutorials you won't want to miss.

### Sign up to book a time with GitLab

re:Invent can be an extrodinarily busy event with more people to meet and things to see than you'll have time for. To ensure you get time to talk with the GitLab experts on site, [book some time in advance](/events/aws-reinvent/) to make sure you get a scheduled slot you can count on.

### Stop by booth 2608 on the expo floor in The Venetian

The team will be staffing our booth during all expo hours. We'll have some unique swag to hand out along with demos and experts to answer your questions.

### Come see our CEO show off GitLab + EKS

On Tuesday, Nov. 27 at 12:10 p.m. in the Pilvi Theater, [Sid](https://www.linkedin.com/in/sijbrandij/) and [Priyanka](https://www.linkedin.com/in/pritianka/) will be showing how to [reinvent your pipelines with GitLab, Kubernetes, and Amazon EKS](https://www.portal.reinvent.awsevents.com/connect/search.ww#loadSearch-searchPhrase=%22GitLab%22&searchType=session&tc=0&sortBy=abbreviationSort&p=) along with a live demo.

### Demo: Set up your pipelines in five minutes

Join [Joshua](https://www.linkedin.com/in/jshlmbrt/) at the GitLab booth (2608) on Wednesday, Nov. 28 at 1 p.m. for a live demo of GitLab [Auto DevOps](/product/auto-devops/).

### GitLab CI 101

Join [Reb](https://www.linkedin.com/in/reb33/) at the GitLab booth (2608) on Tuesday, Nov. 27 at 2 p.m. for a tutorial on getting up and going with [GitLab continuous integration](/product/continuous-integration/).

See you there!
