---
layout: default
title: "GitLab Core Team"
description: "Learn about the GitLab core team members who do a lot of fixes, improvements, and refactoring."
suppress_header: true
extra_css:
  - core.css
---
.wrapper
  .simple-header
    %h1 Core Team
  .container.page-container
    .row.col-xs-12
      %p The mission of the Core Team is to be the voice of the GitLab contributor community and to ensure that everyone can contribute to the GitLab application. Many Core Team members have been active in the GitLab community over the years and made a lot of fixes, improvements and refactoring.
      %p
        The GitLab Core Team is not bound to any single (not-)for-profit organization.
        This arrangement is similar to those of the Ruby, Ruby on Rails, Linux and PostgreSQL projects.
        You can get invited to join the Core Team after
        %a{href: "https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CONTRIBUTING.md"} contributing
        to GitLab for a sustained period of time.
        You can contribute by coding but also by giving feedback on merge requests, triaging on the issue tracker or helping out on the mailinglist.
      %p
        The Core Team comprise of up to two GitLab Inc. members and the rest come from the wider community. Anyone from the Core Team can nominate a new member at any time. If the nominee accepts the nomination and receives at least two positive responses from the Core Team with no objections after a two week period, the nominee will be added to the Core Team.
      %p
        At the end of each calendar year, there will be a review of sustained contributions to the GitLab community by Core Team members (e.g. via merged MRs, issue triaging, mentoring new contributors, helping out on support channels, etc.)
      %p
        At any point, Core Team members can "stand down graciously" by notifying the Core Team. This can happen for example when a member is no longer able to dedicate time to the GitLab community. In addition, after an annual review, if it is determined that a Core Team member has not been active and/or is not responsive for an extended period, that person may be asked to stand down. Once someone stands down, s/he becomes a Core Team "Alumni".
      %p
        You can reach out to Core Team members via
        %a{href: "https://gitlab.com/gitlab-core-team/general/issues/service_desk"} Core Team Service Desk.
        The Service Desk is the main communication channel, but Core Team members can also be found at
        %a{href: "https://gitter.im/gitlabhq/community"} GitLab Community Gitter
        or #gitlab IRC channel on freenode.
      %p
        See
        %a{href: "/community/alumni/"} core team alumni page
        for Core Team Alumni.
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "/images/core-team/robert.jpeg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "https://twitter.com/Razer6"}
              .twitter.no-margin
          %li
            %a{href: "https://gitlab.com/u/razer6"}
              .gitlab.no-margin
          %li
            %a{href: "https://github.com/Razer6"}
              .github.no-margin
      #razer6.col-sm-8
        %h2.title Robert Schilling
        %p Robert is a developer who loves science and technology. He currently studies telematics with focus on digital signal processing at Graz University of Technology. In his spare time he enjoys mountain biking, skiing and photography. When not in front of his computer, Robert can often be found with a glass of good single malt whisky or beer in his hand discussing sports and open source software.
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "/images/core-team/hannes.jpg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "https://gitlab.com/u/haynes"}
              .gitlab.no-margin
          %li
            %a{href: "https://github.com/123Haynes"}
              .github.no-margin
      #haynes.col-sm-8
        %h2.title Hannes Rosenögger
        %p
          Hannes is a developer who loves open source.
          His motto is: "If something is broken that you need and you are able to fix it, don't just talk about it. Fix it!"
          In his spare time he enjoys swimming, badminton and relaxing with his friends.
          When he is not in front of his computer, he can often be found on various camping places where he helps out the scouts of his hometown.
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "/images/core-team/newton.png", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "http://jamesnewton.com"}
              .website.no-margin
          %li
            %a{href: "https://twitter.com/jameswritescode"}
              .twitter.no-margin
          %li
            %a{href: "https://www.linkedin.com/in/jameswritescode"}
              .linkedin.no-margin
          %li
            %a{href: "https://gitlab.com/u/newton"}
              .gitlab.no-margin
          %li
            %a{href: "https://github.com/jameswritescode"}
              .github.no-margin
      #newton.col-sm-8
        %h2.title James Newton
        %p James is a software developer in Orlando, FL, US.
        %p He started following GitLab development in 2012 looking for a better git management interface. Needless to say, it was love at first sight. Since then he's has been supporting GitLab users in the freenode IRC channel.
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "/images/core-team/blackst0ne.jpg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "https://blackst0ne.gitlab.io"}
              .website.no-margin
          %li
            %a{href: "https://twitter.com/blackst0ne"}
              .twitter.no-margin
          %li
            %a{href: "https://gitlab.com/blackst0ne"}
              .gitlab.no-margin
          %li
            %a{href: "https://github.com/blackst0ne"}
              .github.no-margin
      #blackst0ne.col-sm-8
        %h2.title Vitaliy "blackst0ne" Klachkov
        %p Vitaliy is a software developer from Yuzhno-Sakhalinsk, Sakhalin, Russia.
        %p He works for a company that is engaged in scientific seismological research and monitoring of seismic activity.
        %p Before Vitaliy became a full-time software developer, he administrated Linux systems related to science, banking, and software development.
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "/images/core-team/tnir.jpg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "https://gitlab.com/tnir"}
              .gitlab.no-margin
          %li
            %a{href: "https://twitter.com/tn961ir"}
              .twitter.no-margin
          %li
            %a{href: "https://github.com/tnir"}
              .github.no-margin
      #tnir.col-sm-8
        %h2.title Takuya Noguchi
        %p Takuya is a software engineer specializing in digital transformation from Tokyo, Japan.
        %p He started to use Git in 2005 but started to contribute to GitLab in 2015, which was not so earlier. He focuses on keeping GitLab easier to contribute as well as to fix bugs and to add features.
        %p
          In 2016 he co-founded the local GitLab communities named as
          %a{href: "https://gitlab-jp.connpass.com/"} GitLab Tokyo and GitLab.JP
          and they reach 800 members (as of Nov 2017) in total.
        %p
          He is also one of
          %a{href: "https://www.cncf.io/people/ambassadors/"} the Cloud Native Ambassadors of Cloud Native Computing Foundation
          to encourage developers to adopt a cloud native computing paradigm to various kinds of applications and systems.
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "https://secure.gravatar.com/avatar/692fb66988ac3863f360e846c1afc4f3?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "https://jacopobeschi.com"}
              .website.no-margin
          %li
            %a{href: "https://twitter.com/JacopoBeschi"}
              .twitter.no-margin
          %li
            %a{href: "https://www.linkedin.com/in/jacopobeschi"}
              .linkedin.no-margin
          %li
            %a{href: "https://gitlab.com/jacopo-beschi"}
              .gitlab.no-margin
          %li
            %a{href: "https://github.com/intrip"}
              .github.no-margin
      #jacopo-beschi.col-sm-8
        %h2.title Jacopo Beschi
        %p Jacopo is a software developer from Brescia, Italy.
        %p He started to contribute to GitLab in late 2016.
        %p He focuses on bug fixes and new features in various sides of the app: backend, frontend, api, edge. He enjoys test automation and static code analysis tools.
        %p In his spare time he enjoys gym training and watching programming talks.
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "/images/core-team/gtsiolis.png", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "https://twitter.com/gtsiolis"}
              .twitter.no-margin
          %li
            %a{href: "https://gitlab.com/gtsiolis"}
              .gitlab.no-margin
      #gtsiolis.col-sm-8
        %h2.title George Tsiolis
        %p George is a user experience engineer based in Athens, Greece. He's passionate about designing and implementing functional and effective user interfaces. He has been involved in a number of projects focusing on network resource management over heterogeneous networks and service orchestration over programmable infrastructures. Moreover, he has been practicing user experience design and frontend engineering along with small and cross-functional teams while keeping collaboration a top priority. When he's not cherry-picking commits, he's probably on the move, running, or having fun with friends.
